#=================================================
# Python App Template
# Version: 1.0.1
# Last Updated: 2017/10/04
#=================================================

#-------------------------------------------------
# Language Exclusions
#-------------------------------------------------
__pycache__
*.pyc

#-------------------------------------------------
# App Specific Exclusions
#-------------------------------------------------
*.log
log
sample-*.json

#-------------------------------------------------
# Build Exclusions
#-------------------------------------------------
build
lib_*
target
temp

#-------------------------------------------------
# IDE Exclusions
#-------------------------------------------------
.c9
.idea
.project
.python-version
.settings
.vscode
nbproject

#-------------------------------------------------
# OS Exclusions
#-------------------------------------------------
.DS_Store

#-------------------------------------------------
# Other Nonsense
#-------------------------------------------------
bcs*

#*************************************************
# Custom Exclusion (per App exclusions)
#*************************************************
