#=================================================
# Python App Template
# Version: 1.0.4
# Last Updated: 2019/03/06
#=================================================

#-------------------------------------------------
# Language Exclusions
#-------------------------------------------------
__pycache__
*.pyc
.env
venv

#-------------------------------------------------
# App Specific Exclusions
#-------------------------------------------------
*.log
local-*
log
sample-*.json

#-------------------------------------------------
# Build Exclusions
#-------------------------------------------------
build
lib_*
permutations.json
target
temp

#-------------------------------------------------
# IDE Exclusions
#-------------------------------------------------
.c9
.history
.idea
.project
.python-version
.settings
.vscode
*.iml
*.swp
*.vim
nbproject

#-------------------------------------------------
# OS Exclusions
#-------------------------------------------------
.DS_Store

#-------------------------------------------------
# Test Exclusions
#-------------------------------------------------
.coverage
.pytest_cache
artifacts
junit.xml
py36.xml
py37.xml
py38.xml
dump.rdb

#-------------------------------------------------
# Other Nonsense
#-------------------------------------------------

#*************************************************
# Custom Exclusion (per App exclusions)
#*************************************************
